img {
    width:200px
    border-width: thick;
    border-style: solid;
    border-color: white; 
}

* {
    font-size: 100%;
    font-family: Arial;
    background-color: lightblue;
   }

nav {
    position:absolute;
    top:0;
    right:0;
    font-size: 50px;
}

header {
    position:fixed;
    top:20%;
    left:20%;

}

footer{
    background-color: darkblue;
}

.words{
    font-size: larger;
}

form{
    background-color: green;
}